<ion-view title="Preferences" id="page4" style="background-color:#D4D6F8;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-item class="range range-positive">Reminder Frequency
                <input type="range" value="8" min="4" max="15" name="frequnecy">
            </ion-item>
            <label class="item item-input">
                <input type="text" placeholder="Add an idea" ng-model="ideaText">
            </label>
        </form>
        <button id="preferences-button5" class="button button-positive  button-block" ng-click="addIdea(ideaText); ideaText=''">Add idea!</button>
    </ion-content>
</ion-view>