<ion-view title="Reminder" hide-back-button="true" id="page2" style="background-color:##F7F7F7;">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="list card">
            <div class="item item-divider">Next Reminder:</div>
            <div class="item item-body"></div>
        </div>
        <button id="reminder-button1" class="button button-positive  button-block">Skip this one!</button>
        <button id="reminder-button2" class="button button-positive  button-block">Replace this one!</button>
        <button id="reminder-button3" class="button button-positive  button-block">Don't use this idea again!</button>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <button id="reminder-button7" class="button button-assertive  button-block">Activate!</button>
        <div id="reminder-markdown2" style="color:#000000;">
            <p>Choose some options in the bio section. When you are ready for me to generate some reminders click Actitivate!</p>
        </div>
    </ion-content>
</ion-view>